@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer base {
  h1 {
    @apply text-3xl font-bold mb-4;
  }
  h2 {
    @apply text-2xl font-bold mb-3;
  }
  h3 {
    @apply text-xl font-bold mb-2;
  }
  a {
    @apply text-primary-600 hover:text-primary-800 transition-colors;
  }
}